<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>EmpleosMatta</title>
    <link th:fragment="favicon" rel="shortcut icon" th:href="@{/logos/favicon.png}" type="image/x-icon">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" th:href="@{/home}">EmpleosMatta</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/home}">Inicio</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR', 'ADMINISTRADOR')">
                    <a class="nav-link" th:href="@{/vacantes/index}">Vacantes</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR', 'ADMINISTRADOR')">
                    <a class="nav-link" th:href="@{/categorias/index}">Categorías</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
                    <a class="nav-link" th:href="@{/usuarios/index}">Usuarios</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR', 'SUPERVISOR')">
                    <a class="nav-link" th:href="@{/lista_solicitudes}">Solicitudes</a>
                </li>
            </ul>
            <div sec:authorize="isAuthenticated()">
                <span class="text-light" th:text="'Bienvenido usuario ' + ${#authentication.name}"></span>
            </div>&nbsp;&nbsp;
            <div sec:authorize="isAnonymous()">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#guia">
                    Visualizar Guía
                </button>&nbsp;&nbsp;
            </div>
            <div sec:authorize="isAnonymous()">
                <a class="btn btn-primary" th:href="@{/login}">Ingresar</a>&nbsp;
                <a class="btn btn-primary" th:href="@{/users}">Registrarse</a>&nbsp;
            </div>
            <div sec:authorize="isAuthenticated()">
                <a class="btn btn-primary" th:href="@{/logout}">Cerrar Sesión</a>
            </div>
        </div>
    </nav>
</header>
<div th:fragment="modal" class="modal fade" id="guia" tabindex="-1" role="dialog" aria-labelledby="guia" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="exampleModalScrollableTitle">Bienvenid@ a mi aplicación personal con SpringBoot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="font-italic">Hola, me llamo Christopher Jermayn Matta Fernandez y aspiro ser un excelente programador backend con java
                    y todas las tecnologías relacionadas con esta como por ejemplo: SpringBoot, MySQL, entre otras.
                    A continuación, le brindaré la información necesaria para acceder a un usuario supervisor y
                    administrador otorgándole las respectivas credenciales.</p>
                <p><strong>Acceder como supervisor:</strong></p>
                <ul>
                    <li><strong>Usuario:</strong> supervisor</li>
                    <li><strong>Contraseña:</strong> 12345678</li>
                </ul>
                <p><strong>Acceder como administrador:</strong></p>
                <ul>
                    <li><strong>Usuario:</strong> admin</li>
                    <li><strong>Contraseña:</strong> 12345678</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>
</html>