<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link th:replace="/fragment/menu :: favicon">

  <title>EmpleosApp | Creación de Ofertas de Trabajo</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
</head>

<body>

<header th:replace="/fragment/menu :: header"></header>

<main role="main">
  <hr>
  <div class="container">
    <div class="card">
      <h4 class="card-header"><strong>Datos de la oferta de trabajo</strong></h4>
      <div class="card-body">
        <form th:action="@{/vacantes/save}" method="post" th:object="${vacante}" enctype="multipart/form-data">
          <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
            <span>Por favor, corrija los siguientes errores:</span>
            <ul>
              <li th:each="error: ${#fields.errors('*')}" th:text="${error}"></li>
            </ul>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Titulo de la oferta de trabajo" required="required" th:field="*{nombre}">
                <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input type="text" class="form-control" id="descripcion" placeholder="Breve descripción de la oferta de trabajo" required="required" th:field="*{descripcion}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="categoria">Categoría</label>
                <select class="form-control" id="categoria" th:field="*{categoria.id}">
                  <option th:each="cat: ${categorias_all}" th:text="${cat.nombre}" th:value="${cat.id}"></option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="estatus">Estatus</label>
                <select class="form-control" id="estatus" th:field="*{estatus}">
                  <option th:value="Creada">Creada</option>
                  <option th:value="Aprobada">Aprobada</option>
                  <option th:value="Eliminada">Eliminada</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="fecha">Fecha de Publicación</label>
                <input type="text" id="fecha" class="form-control" placeholder="Fecha de publicación" th:field="*{fecha}">
                <small class="text-center text-muted">El formato de la fecha es: "dd-MM-yyyy"</small>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <label class="form-check-label"></label><br>
                <input class="form-check-input" type="radio" id="destacado0" name="destacado" checked="checked" th:field="*{destacado}" th:value="1" >
                <label class="form-check-label" for="destacado0">Destacado</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="destacado" id="destacado" th:field="*{destacado}" th:value="0">
                <label class="form-check-label" for="destacado">No Destacado</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="salario">Salario Ofrecido (Aprox)</label>
                <input type="text" class="form-control" id="salario" placeholder="Salario aproximado." required="required" th:field="*{salario}">
                <div th:if="${#fields.hasErrors('salario')}" th:errors="*{salario}"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="archivoImagen">Imagen</label>
                <input type="file" class="form-control-file" name="archivoImagen" id="archivoImagen">
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <label for="detalles"><strong>Detalles</strong></label>
                <textarea class="form-control" name="detalles" id="detalles" rows="7" th:field="*{detalles}"></textarea>
              </div>
            </div>
            <div class="col-md-3">
              <label for="imagen">Imagen/Logo</label>
              <img class="rounded mx-auto d-block" id="imagen" th:src="@{/logos/{imagen} (imagen = *{imagen})}" alt="Generic placeholder image" width="200" height="200">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</main>
<div th:replace="/fragment/menu :: modal"></div>
<footer class="footer" th:replace="/fragment/pie_pagina :: footer"></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/tinymce/tinymce.min.js}"></script>
<script>

  $(function () {
            $("#fecha").datepicker({dateFormat: 'dd-mm-yy'});
          }
  );
  tinymce.init({
    selector: '#detalles',
    plugins: "textcolor, table lists code",
    toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                    | bullist numlist outdent indent | forecolor backcolor table code"
  });

</script>
</body>
</html>