<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:replace="/fragment/menu :: favicon">

    <title>EmpleosApp | Listado de Ofertas de Trabajo</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body>
<header th:replace="/fragment/menu :: header"></header>

<main role="main">
    <hr>
    <div class="container">
        <div class="card">
            <h4 class="card-header"><strong>Listado de Ofertas de Trabajo</strong></h4>
            <div class="card-body">
                <a class="btn btn-primary" th:href="@{/vacantes/form}" title="Crear nueva Oferta de Trabajo" role="button"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>
                <hr>
                <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                <div th:if="${mensaje_error != null}" th:text="${mensaje_error}" class="alert alert-danger" role="alert"></div>
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Categoría</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha Pub.</th>
                        <th scope="col">Estatus</th>
                        <th scope="col">Destacada</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="vacante: ${vacantes}">
                        <td th:text="${vacante.categoria.nombre}"></td>
                        <td th:text="${vacante.nombre}"></td>
                        <td th:text="${#dates.format(vacante.fecha, 'dd-MM-yyyy')}"></td>
                        <td th:text="${vacante.estatus}"></td>
                        <td th:text="${vacante.destacado == 1 ? 'Si' : 'No'}"></td>
                        <td>
                            <a th:href="@{/vacantes/form/{id} (id = ${vacante.id})}" class="btn btn-success btn-sm" role="button" title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                            <a th:href="@{/vacantes/delete/{id} (id = ${vacante.id})}" onclick="return confirm('¿Está seguro de eliminar este registro?')" class="btn btn-success btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav th:if="${vacantes.totalPages > 0}" aria-label="Page navigation example" >
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${vacantes.number == 0 ? 'disabled' : ''}">
                            <a th:href="@{/vacantes/index(page=${vacantes.number - 1})}" class="page-link">Anterior</a>
                        </li>
                        <li class="page-item" th:classappend="${i eq vacantes.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, vacantes.totalPages, 1)}">
                            <a class="page-link" th:href="@{/vacantes/index(page=${i - 1}) }" th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                        </li>
                        <li class="page-item" th:classappend="${vacantes.number == (vacantes.totalPages - 1) ? 'disabled' : ''}">
                            <a th:href="@{/vacantes/index(page=${vacantes.number + 1})}" class="page-link">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
<div th:replace="/fragment/menu :: modal"></div>
<footer class="footer" th:replace="/fragment/pie_pagina :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>